@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap');

body {
  background: burlywood;
}

.App {
  text-align: center;
}

.memeber {
  text-align: center;
  width: 25%;
  font-family: 'Goldman', cursive;
  border: 1px solid rgb(70, 69, 69);
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  margin-bottom: 1em;
  margin-left: 1em;
  border-radius: 15%;
  background-color: aquamarine;
  
}

.member-cards {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.member-label {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.member-form {
  margin-top: 5em;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  padding: 16px;
  background-color: cornsilk;
}

.submit {
  margin-top: 1em;
  
}

button {
  font-size: large;
  border-radius: 45%;
  background-color: coral;
}

button:hover {
  background-color: cyan;
}